<ion-header>


  <ion-navbar id="nav" #content swipeBackEnabled="false" *ngIf="userProfile">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons #profile right round menuToggle="right">
      <button ion-button round>
        <img class="nav-avatar" round [src]="userProfile.photoURL">
      </button>
    </ion-buttons>

    <ion-title>
      Song Book
    </ion-title>


  </ion-navbar>

</ion-header>

<ion-content padding>

  <button ion-button block (click)="googleLogin()" *ngIf="!userProfile">
    GOOGLE LOGIN
  </button>

  
</ion-content>
